<% provide(:title, 'Upload Sales Data') %>
<h1>Upload Sales Data</h1>

<div class="row">
    <div class="span6 offset3" align="center">
        <%= form_for(@sale) do |f| %>
            <%= f.label :upload, 'Upload Sales File' %>
            <%= f.file_field :file %>
            <br/>
            <%= submit_tag 'Upload File', class: 'btn btn-small btn-primary', disable_with: 'Uploading...', :name => 'name' %>
        <% end %>
    </div>
</div>

<%= link_to 'Back', sales_path %>
